[submodule "mpir-generic"]
	path = mpir-generic
	url = git@github.com:MeshGeometry/mpir-generic.git
[submodule "src_cork/mpir-generic"]
	path = src_cork/mpir-generic
	url = https://github.com/MeshGeometry/mpir-generic.git
